*{
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* #9B51E0 */
  /* #F2994A */
}
.header{
  background-image: url(imges/header_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 710px;
}
.header_buttons{
  width: 55%;
  display: flex;
  justify-content: end;
  gap: 15px;
  position: relative;
}
.header_btn1{
  background-color: #9B51E0;
  padding: 10px 35px;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 20px #9B51E0;
  border: none;
}
.header_btn1:hover{
  background-color: #9b51e0c7;
  box-shadow: 0px 0px 25px #9B51E0;
  color: #ffffff;
}
.header_btn1:active{
  box-shadow: 0px 0px 0px black;
}
.header_btn2{
  background-color: #404040;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  padding: 3px 25px;
}
.header_btn2:hover{
  background-color: #404040d0;
}
.header_btn2:active{
  box-shadow: 0px 0px 20px rgb(144, 144, 144);
}
.hookah_logo{
  position: absolute;
  left: 250px;
  top: 40px;
}
.tel{
  position: absolute;
  left: 1000px;
  display: flex;
  gap: 20px;
  align-items: center;
  width: 320px;
  top: 80px;
}
.tell{
  display: flex;
  color: #fff;
  gap: 5px;
}
.header_container{
  margin: auto;
  height: 500px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 100px;
  position: relative;
}
.cont_text{
  width: 40%;
  color: #fff;
  height: 300px;
  margin-top: 125px;
}
.cont_h1{
  font-size: 40px;
  margin-bottom: 25px;
}
.cont_p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 35px;
}
.cont_button{
  background-color: #F2994A;
  border: 3px solid white;
  color: #fff;
  padding: 12px 25px; 
  font-size: 13px;
  font-weight: 600;
  border-radius: 45px;
  box-shadow: 0px 0px 20px #F2994A;
}
.cont_button:hover{
  background-color: #f2984ae8;
  box-shadow: 0px 0px 25px #F2994A;
}
.kalyan{
  background: transparent;
}
.kalyan_img{
  width: 620px;
  position: absolute;
  left: 500px;
  top: -100px;
  background: transparent;
}
.section1{
  height: 280px;
  padding: 1px;
}
.section1_container{
  width: 70%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec1_cnt_block1{
  width: 30%;
}
.sec1_cnt_block2{
  width: 30%;
}
.p1{
  background-color: #9B51E0;
  color: #fff;
  text-align: center;
  width: 23px;
  padding: 12px;
  border-radius: 50%;
}
.p2{
  background-color: #9B51E0;
  color: #fff;
  text-align: center;
  width: 23px;
  padding: 12px;
  border-radius: 50%;
}
.sec1_cnt_block3{
  width: 35%;
}
.sec1_h4{
  margin-bottom: 15px;
}
.section2_container{
  background-color: rgb(255, 255, 255);
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.sec2_h1{
  text-align: center;
  margin-bottom: 25px;
}
.sec2_cnt_block1{
  width: 16%;
  text-align: center;
  padding: 10px;
  padding-bottom: 35px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(189, 189, 189);
}
.sec2_cnt_block1:hover{
  box-shadow: -1px 20px 25px rgb(138, 138, 138);
}
.sec2_cnt_block1:active{
  box-shadow: -1px 0px 7px rgb(138, 138, 138);
}
.section3{
  background-image: url(imges/section3_img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  display: flex;
}
.sec3_h1{
  margin-left: 250px;
  margin-top: 50px;
  font-size: 40px;
}
.sec3_container{
  margin-left: 100px;
  margin-top: 70px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.k1{
  width: 30%;
  height: 200px;
  text-align: center;
  margin-bottom: 30px;
}
.btn{
  box-shadow: 0px 0px 10px rgb(144, 144, 144);
  padding: 7px 0px;
  border-radius: 5px;
}
.btn:hover{
  box-shadow: 0px 5px 15px rgb(105, 105, 105);
}
.btn:active{
  box-shadow: 0px 0px 10px rgb(105, 105, 105);
}
.sec3_button{
  background-color: #F2994A;
  display: flex;
  align-items: center;
  color: #fff;
  gap: 10px;
  width: 100%;
  height: 50px;
  padding: 15px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  margin-top: 25px;
}








@media (max-width: 550px) {
  .sec3_h1{
    margin-left: 0;
    text-align: center;
  }
  .sec3_button{
    margin-top: 70px;
  }
  .kk{
    display: none;
  }
  .k1{
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .sec3_container{
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .section3{
    flex-direction: column;
  }
  .sec2_h1{
    margin-top: -20px;
  }
  .s{
    display: none;
  }
  .sec2_cnt_block1{
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 35px;
  }
  .section2_container{
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
  }
  .sec1_h4{
    margin-left: 0px;
  }
  .p1{
    padding: 10px;
    width: 14px;
  }
  .p2{
    width: 13px;
    height: 11px;
}

  .sec1_cnt_block1{
    margin-left: -2px;
    width: 48%;
    display: flex;
    flex-direction: row-reverse;
    font-size: 10px;
    gap: 10px;
    text-align: start;
  }
  .sec1_cnt_block2{
    margin-right: 10px;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    font-size: 10px;
    gap: 10px;
    text-align: start;
  }
  .sec1_cnt_block3{
    margin-left: 10px;
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    font-size: 10px;
    gap: 10px;
    text-align: start;
    margin-top: 10px;
  }
  .section1_container{
    width: 100%;
    flex-wrap: wrap;
    margin-top: 70px;
    align-items: center;
  }
  .header_container{
    width: 100%;
  }
  .kalyan_img{
    width: 370px;
    left: 40px;
    top: 160px;
    background-color: transparent;
  }
  .cont_p{
    margin-bottom: 20px;
  }
  .cont_h1{
    font-size: 25px
  }
  .cont_text{
    display: block;
    margin-top: 40px;
    width: 90%;
    margin-left: 20px;
  }
  .tel{
    left: 180px;
    width: 216px;
    gap: 10px;
    align-items: center;
  }
  .tell{
    font-size: 10px;
    align-items: center;
  }
  .hookah_logo{
    left: 25px;
    top: 20px;
    width: 90px;
  }
  .header_btn1{
    padding: 5px 15px;
    font-size: 10px;
  }
  .header_btn2{
    padding: 2px 7px;
    font-size: 8px;
  }
  .header_buttons{
    width: 100%;
    gap: 10px;
  }
  .header{
    width: 100%;;
  }
}